@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: white;
}
body {
  height: 400vh;
}

body::-webkit-scrollbar {
  display: none;
}
/* colors and shit */
.font-regular {
  font-size: 1.6rem;
}

.font-double {
  font-size: 3.2rem;
}
.font-huge {
  font-size: 6rem;
}

.font-enormous {
  font-size: 9rem;
  line-height: 8.5rem;
}

.bg-dark {
  background-color: #03012c;
}
.bg-light {
  background-color: #062444;
}
.txt-green {
  color: #3cb35a;
}
/* main css */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 10vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: white;
  z-index: 5;
}
nav:after {
  content: "";
  background-color: black;
  opacity: 0.8;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 4.8rem;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav ul li,
nav .phone {
  margin: 2rem;
}

nav .phone {
  text-align: end;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
.homecontainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homecontainer:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: url("/assets/images/bg.png") center center/cover no-repeat;
  z-index: 0;
  opacity: 0.6;
}
.homecontainer > * {
  z-index: 1;
}
.homecontainer h1 {
  margin-bottom: 2rem;
}
.homecontainer p {
  margin-bottom: 3rem;
}

.homecontainer i {
  font-size: 4rem;
  margin-right: 2.5rem;
}

.socials i {
  color: white;
}

.container {
  padding: 7.5vh 15vw;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  grid-column-gap: 0px;
  grid-row-gap: 30px;
}

.sectiontitle {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  grid-area: 1 / 1 / 2 / 2;
}
.sectiontitle > * {
  position: absolute;
}

.titlefront {
  z-index: 2;
  position: relative;
}

.titlefront::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 4rem;
  border-bottom: #103c6b 2px solid;
}

.titlefront::before {
  content: "";
  top: 0;
  left: 20%;
  position: absolute;
  width: 60%;
  height: 4rem;
  border-bottom: #3cb35a 2px solid;
  z-index: 5;
}

.titlebg {
  opacity: 0.05;
}
.pagecontent {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}

.pagecontent .image {
  background-color: antiquewhite;
}

.aboutmetext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.aboutmetext button {
  background-color: #3cb35a;
  padding: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

.aboutmetext h1 {
  font-weight: 700;
}

.aboutmetext ul {
  list-style: none;
  margin-right: 3rem;
}

.aboutmetext ul li {
  margin-bottom: 1.8rem;
}

.about-me-lists {
  display: flex;
}
