@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
}
body {
  height: 400vh;
}
/* colors and shit */
.font-regular {
  font-size: 1.6rem;
}

.font-double {
  font-size: 3.2rem;
}
.font-huge {
  font-size: 6rem;
}

.bg-dark {
  background-color: #03012c;
}
.bg-light {
  background-color: #062444;
}
.txt-green {
  color: #3cb35a;
}
/* main css */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 10vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: white;
  z-index: 5;
}
nav:after {
  content: "";
  background-color: black;
  opacity: 0.8;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 4.8rem;
}
nav ul {
  display: flex;
  list-style: none;
}

nav ul li,
nav .phone {
  margin: 2rem;
}

nav .phone {
  text-align: end;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
.homecontainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homecontainer:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: url("/assets/images/bg.png") center center/cover no-repeat;
  z-index: 0;
  opacity: 0.6;
}
.homecontainer > * {
  z-index: 1;
}
.homecontainer h1 {
  margin-bottom: 2rem;
}
.homecontainer p {
  margin-bottom: 3rem;
}

.homecontainer i {
  font-size: 4rem;
  margin-right: 2.5rem;
}

.socials i {
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
}
